<table style="width: 100%; border: 1px solid black;">
    <tr>
        <th>Read</th>
        <th>From</th>
        <th>To</th>
    </tr>
    <ng-container *ngFor="let mail of mails; index as i">
        <tr>
        <td>
            <input type="radio" name="read-{{i}}" [(ngModel)]="mail.read" [value]=true disabled> Yes
            <input type="radio" name="read-{{i}}" [(ngModel)]="mail.read" [value]=false disabled> No 
        </td>
        <td>{{mail.from}}</td>
        <td>{{mail.to}}</td>
        <td>
            <button (click)="clickAnswer(mail)">Answer Mail</button>
        </td>
    </tr>
    
        <tr *ngIf="mail.answer">
            <app-new-mail [mail]="mail" (actionMade) = "actionAnswer(mail)"></app-new-mail>
          </tr>
    
</ng-container>
</table>
